.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #18288d;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
}
.Class-header {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
}
.modal-lg {
    max-width: 600px !important;
}

.useSession {
    display: inline;
    vertical-align: middle;
}
.App-link {
    color: #61dafb;
}

.Welcome-message {
    font-size: 120%;
}
.Classses {
    font-size: 120%;
    text-align: center;
}
.Requirements {
    font-size: 120%;
    text-align: left;
}

.Course-table {
    border: 1px solid #aaaaaa;
    text-align: center;
    display: block;
}
.Course-table th {
    width: 70%;
    border: 1px solid #bbb;
    padding: 10px 80px 10px 90px;
}
.Course-table td {
    padding: 10px 2px 8px 4px;
    border: 1px solid #bbb;
}

.Course-table tr:nth-child(even) {
    background-color: #ddd;
}

.Edit-table {
    border: 1px solid #aaaaaa;
    text-align: center;
    display: block;
}

.Edit-table th {
    width: 10%;
    border: 1px solid #bbb;
    padding: 10px 80px 10px 90px;
}
.dit-table td {
    padding: 10px 2px 8px 4px;
    border: 1px solid #bbb;
}
.poolOfCourses {
    height: 400px;
    overflow: scroll;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
